@model SchedulerApp.Models.ViewModels.DoctorVM
@using Microsoft.AspNetCore.Http
@using SchedulerApp.Utility
@inject IHttpContextAccessor HttpContextAccessor

<div class="row">
	<div class="container">
		@if(User.IsInRole(SchedulerApp.Utility.Helper.Admin)) 
		{
			<div class="form-group col-2">
				<label>Select Doctor</label>

			@*
				option #1 
				<select class="form-control" asp-items="@ViewBag.DoctorsList"></select>
			*@

				@* option #2 *@
				<select class="form-control select2" id="doctorId" onchange="onDoctorChange()">
					@foreach (var doctor in (ViewBag.DoctorsList as IEnumerable<SchedulerApp.Models.ViewModels.DoctorVM>))
					{
						<option value="@doctor.Id" data-description="LONG">@doctor.Name</option>
					}
				</select>
			</div>
		}

		<div id="calendar"></div>
	</div>
</div>

<partial name="_AddEditAppointment" />

<div class="text-right p-2">
	<p>@HttpContextAccessor.HttpContext.Session.GetString(Helper.ssuserName)'s welcome</p>
</div>